.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 0.5rem;
  height: 100%;
  background-color: white;
}

.product-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.product-img {
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.product-img img {
  width: 60%;
  max-height: 90%;
}

.product-title {
  display: -webkit-box; /* Enable WebKit box model */
  -webkit-line-clamp: 1; /* Limits text to 1 lines */
  -webkit-box-orient: vertical; /* Specifies vertical layout for WebKit */
  line-clamp: 1; /* Standard property for modern browsers */
  overflow: hidden; /* Hides overflowed content */
  text-overflow: ellipsis; /* Adds ellipsis for truncated text */
  white-space: normal; /* Allows wrapping to work correctly */
  max-height: 3rem; /* Constrain the height to prevent overflow */
  word-wrap: break-word; /* Breaks long words to avoid overflow */
}

@media (max-width: 768px) {
  .product-img {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
  }
}
