.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 0.5rem;
}

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filter-section input {
  background-color: #f9fafb;
  color: black;
  border: 1px solid var(--purple-grey);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  width: 8.2rem;
}

.filter-section button {
  color: rgb(50, 50, 50);
  background-color: #f9fafb;
  border: 1px solid var(--purple-grey);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s;
}

.filter-section button:hover {
  background-color: var(--white);
  color: var(--theme);
}
