header {
  display: flex;
  padding: 1rem 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Background when scrolling */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a lifted effect */
}

.nav-link.active {
  color: #ffa500;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
  width: 100%;
}

.nav-link {
  color: black;
  font-size: medium !important;
  text-decoration: none !important;
  transition: color 0.3s; /* Smooth transition for text color */
}

.nav-link:hover {
  color: #ffa500;
  transition: all 0.3s;
}

.cart-badge {
  position: absolute;
  top: -0.6rem; /* Adjust this to position the badge above the icon */
  left: 0.4rem; /* Adjust this to align the badge to the right of the icon */
  background-color: rgb(249, 100, 100);
  color: white;
  font-size: 0.7rem;
}
