/* Default Styles */
header {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1rem 8.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-link {
  color: black;
  font-size: medium;
  text-decoration: none !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffa500;
}

.search-bar {
  flex-grow: 1;
  margin: 0 1rem;
}

.cart-badge {
  position: absolute;
  top: -0.6rem;
  left: 0.4rem;
  background-color: rgb(249, 100, 100);
  color: white;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  header {
    padding: 1rem 2.5rem;
  }
  nav {
    flex-wrap: wrap;
  }

  .nav-link,
  .cart-badge,
  .search-bar input,
  header p {
    font-size: 0.75rem; /* Further reduce font size */
  }

  .search-bar {
    width: 100%;
    margin-top: 1rem;
    order: 2;
  }
}
