header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Background when scrolling */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a lifted effect */
}

.nav-link.active {
  color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
}

.nav-link {
  color: black;
  font-size: medium !important;
  text-decoration: none !important;
  transition: color 0.3s; /* Smooth transition for text color */
}

.nav-link:hover {
  color: #1d4ed8;
  transition: all 0.3s;
}
