@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--theme);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
  --headerLinks-grey: #8ea6bb;
  --yellow: #dada68;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 0 4rem;
  row-gap: 1.75rem;
}
.login-form input {
  margin: 1rem 0;
  color: var(--theme);
  background-color: #c2c4c6;
  border: 1px solid var(--headerLinks-grey);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

.login-form input::placeholder {
  font-size: 1rem;
}

.login-form button {
  margin: 1rem 0;
  color: var(--white);
  border: 1px solid var(--headerLinks-grey);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.25rem;
  transition: all 0.2s;
}

.search-section {
  display: flex;
  justify-content: center;
  width: 95%;
  gap: 1rem;
  margin: 2rem;
  height: 2rem;
}

.search-section input {
  flex: 0.2;
  padding-left: 0.75rem;
  color: var(--white);
  background-color: var(--theme);
  border: 1px solid var(--white);
  border-radius: 0.5rem;
}

.search-section input::placeholder {
  font-size: 1rem;
}

.search-section button {
  color: var(--white);
  background-color: var(--theme);
  border: 1px solid var(--white);
  padding: 0.15rem 0.75rem 0.45rem 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.search-section button:hover {
  background-color: var(--white);
  color: var(--theme);
}

.Logout-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.Logout-page p {
  word-break: break-word;
}

.logout-btn {
  margin: 2rem;
  color: var(--white);
  background-color: var(--theme);
  border: 2px solid var(--white);
  border-radius: 1.25rem;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem 0.7rem 1.5rem;
  transition: all 0.5s;
  text-align: center;
}

.logout-btn:hover {
  background-color: var(--purple-grey);
  color: var(--yellow);
}

.userDetails-table {
  width: 40vw;
}
